@import "variables.scss";

.card {
    background-color: $bg-color-light!important;
    height: 400px;

    img {
        width: 80%;
        margin-top: 10%;
    }
    .card-body {
        width: 100%;

        .card-title {
        color: white;
        }
        
        .card-text {
            color: lightgray;
        }
    }
    
}